<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our User Management System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>About Our User Management System</h1>
    </header>

    <main>
        <section>
            <h2>Our Mission</h2>
            <p>At Prawtech, our mission is to provide a seamless and secure user management experience for businesses of all sizes. We strive to empower organizations to efficiently manage their users, streamline processes, and enhance security.</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <p>Our team consists of dedicated professionals who are passionate about creating innovative solutions for user management. From software engineers to user experience designers, each member of our team plays a crucial role in delivering top-notch products and services.</p>
            
        </section>

        <section>
            <h2>Features</h2>
            <ul>
                <li>User Authentication</li>
                <li>User Roles and Permissions</li>
                <li>User Profile Management</li>
                <li>User Activity Tracking</li>
                <li>Security and Compliance</li>
            </ul>
        </section>

        <section>
            <h2>Customer Testimonials</h2>
            <ul>
                <li>"Using Prawtech's User Management System has simplified our user management processes and improved efficiency." - Priyanka Khot</li>
                <li>"The flexibility and scalability of Prawtech's solution have allowed us to easily adapt to our changing user management needs." - Sakshi Gophane</li>
            </ul>
        </section>

        <section>
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? We're here to help! Feel free to reach out to us at +91 984737578 or kamlesh@prawatech.com for support or inquiries.</p>
        </section>
    </main>

    <footer>
        <p>Thank you for choosing Prawtech for your user management needs!</p>
    </footer>

</body>
</html>
